<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Network</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/alumni/alumni.css">
    <link rel="stylesheet" href="/sidebar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <div class="container-fluid container-1">
        <div class="element">
            <div class="col-12 mb-4 align-items-center">
                <h1 class="hd-1">Alumni Network</h1>
                <div class="underline"></div>
            </div>
            <%- include("sidebar.ejs") %>
            <div class="container-2 mt-5">
                <div class="row">
                    <!-- Card 1 -->
                     <% for(let i=0;i<aluminiData.length;i++){ %>
                    <div class="col-lg-3 col-md-4 col-sm-6 mt-5 mb-5">
                        <div class="card-1">
                            <div class="img-container">
                                <img src="<%= aluminiData[i].img_url %>" alt="Alumni Image" class="img-fluid">
                            </div>
                            <h1 class="hd-2" class="hd-2" style="white-space: normal; overflow-wrap: break-word;"><%= aluminiData[i].name %></h1>
                            <p class="pg-1">Software Engineer</p>
                            <p class="pg-1"><%= aluminiData[i].title %></p>
                            <ul class="profile-icons">
                                <li>
                                    <a href=<%= aluminiData[i].linkedin_url %> target="_blank"><img src="https://beneficent-dashboard.onrender.com/alumni/linkedin.svg"></a>
                                </li>
                                <li>
                                    <a href=<%= aluminiData[i].gmail_url %> target="_blank"><img src="https://beneficent-dashboard.onrender.com/alumni/gmail.svg"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <% } %>
                    

                   

                </div>
            </div>
        </div>
    </div>
</body>
</html>