<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/library/library.css">
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body class="p-0">
    <%- include("sidebar.ejs") %>
    <nav class="head">
        <div class="lefticon">
            <a class="LINK1" href="#">Student</a>
        </div>
        <div class="righticon">
            <a href="#">
                <img width="50px" src="/assets/Screenshot 2025-02-23 171952.png">
            </a>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <div class="element">
            <div class="container-1 pt-3">
                <div class="row justify-content-center mb-4">
                    <div class="col-12 hd-1">
                        <h2>LIBRARY</h2>
                        <div class="underline"></div>
                    </div>
                </div>
                
               
                <div class="row justify-content-center">
                    <% for(let i=0;i<libraryData.length;i+=4){ %>
                    <div class="container-2 col-12 col-md-10 d-flex justify-content-center">
                        <% for(let j=0;j<4 && i+j<libraryData.length;j++){ %>

                        <div class="card-1 p-3 text-center flex-wrap">
                            <h1 class="hd-2 pd-2 "><%= libraryData[i+j].title %></h1>
                            <div class="bar">
                                <div class="empty"></div>
                                <div class="filled"></div>
                            </div>
                            <p class="pg-1 pt-2">Rack-<%= libraryData[i+j].rack %>:<%= j+1 %></p>
                            <p class="pg-1 pt-0"><%= libraryData[i+j].books %> Books</p>
                        </div>
                        <% } %>  
                    </div>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
